@using Entity
@model List<Car>


<h2>Arabalar</h2>
<a href="/Panel/Car/Yeni">Yeni Araba Ekle</a>

<style>
    th, td {
        padding: 20px;
        border: 1px solid black;
    }
     .a{
         width:200px;
         height:200px;
     }

</style>

<table>
    <tr>
        <th>Araba Modeli</th>
        <th>Araba Markası</th>
        <th>Bayi Adı</th>
        <th>Fiyat</th>
        <th>Sayısı</th>
        <th>Resim</th>
        <th>İşlemler</th>
       
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.CarModel</td>
        <td>@item.CarBrand.BrandName</td>
        <td>@item.Vendor.Name</td>
        <td>@item.Price</td>
        <td>@item.numbersCar</td>
        <td><img src="/Uploads/@Html.Raw(item.Id+".jpg") " class="img-responsive a" /></td>
        <td>
            <a href="?sil=@item.Id">Sil</a>
            <a href="/Panel/Car/Duzenle/@item.Id">Düzenle</a>
        </td>
    </tr>
    }
</table>

