@using Entity
@model List<CarDetail>



<a href="/Panel/CarDetail/Yeni">Araba Detayı Ekle</a>

<style>
    th, td {
        padding: 20px;
        border: 1px solid black;
    }
</style>

<table>
    <tr>

        <th>Araba Klasmanı</th>
        <th>Araç Yakıt Tipi</th>
        <th>Araba Kapısı Sayısı</th>
        <th>Araba Koltuk Sayısı</th>
        <th>Araba Özelikleri</th>
        <th>Araba Model Yaşı</th>
        <th>Araba Hakkında</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.CarClass</td>
            <td>@item.CarFuel</td>
            <td>@item.Doors</td>
            <td>@item.Seats</td>
            <td>@item.Properties</td>
            <td>@item.CarDate</td>
            <td>@item.CarAbout</td>
            <td>
                <a href="/Panel/CarDetail/Sil/@item.Id">Sil</a>
                <a href="/Panel/CarDetail/Duzenle/@item.Id">Düzenle</a>
            </td>
        </tr>
    }


</table>

